<div fxLayout="row" fxLayoutAlign="center center">
    <h2>Profile Search</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput aria-label="Search" [matAutocomplete]="auto" [formControl]="profileCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let profile of filteredProfile" [value]="profile?.fullname" (click)="onOptionSelected(profile)">
                    <img alt="" class="example-option-img " [src]="profile.picture" height="25">
                    <span>{{profile?.fullname}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <small>{{formatNumber(profile.followers)}}</small>
                </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </form>
</div>